@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap");

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;
$font-jost: "Jost", sans-serif;
$font-cormorant: "Cormorant", serif;
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: $font-jost;
  color: $green;
}
.header {
  max-width: 1440px;
  margin: 0 auto 6.8rem;
  padding: 4rem 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    gap: 4.8rem; /*48px*/
    margin-left: 3.8rem;
  }
  &__link {
    color: $green;
    text-decoration: none;
    &:hover {
      color: $orange;
    }
  }
  &__tel {
    color: $green;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.1rem;
    &:hover {
      color: $orange;
    }
    margin-left: 16.5rem;
  }
  &__cart {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: $orange;
    background-image: url(../images/cart.svg);
    background-size: 1.7rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border: 1px solid $orange;
    &:hover {
      background-color: $green;
      border: 1px solid $green;
    }
  }
  &__counter {
    font-size: 0.8rem;
    color: $white;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
  }
}
.logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 12.3rem;
  height: 3.2rem;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  background-image: url(../images/main.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 187px;
  &__item {
    margin-left: 12rem;
    max-width: 378px;
    margin-top: 6rem;
  }
  &__link {
    margin-top: 5.5rem;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  &__cover {
    flex-basis: 763px;
    height: 759px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -19px;
    left: 2px;
  }
  &__line {
    width: 658px;
    height: 654px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 92%;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    color: $green;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    &::before {
      content: "";
      background-color: $green;
      width: 11px;
      height: 11px;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
      border-radius: 100%;
      position: absolute;
    }
    &:hover::before {
      background-color: $orange;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
    }
    &_01 {
      top: 41px;
      left: 66px;
      &::before {
        top: 26px;
        left: 85px;
      }
    }
    &_02 {
      top: 190px;
      right: 3px;
      &::before {
        top: 20px;
        right: 87px;
      }
    }
    &_03 {
      bottom: -51px;
      right: 242px;
      &::before {
        bottom: 59px;
        right: 33px;
      }
    }
  }
  &__food {
    display: block;
    color: rgba($green, 0.8);
    font-weight: 400;
  }
  &__tomato {
    position: absolute;
    bottom: 13.6rem;
    right: 6rem;
    width: 11rem;
  }
  &__avocado {
    position: absolute;
    top: 5rem;
    right: -6.5rem;
    width: 17.8rem;
  }
  &__cucumber {
    position: absolute;
    top: 0rem;
    left: 63rem;
    width: 8.5rem;
  }
  &__pepper {
    position: absolute;
    top: 40rem;
    left: -2rem;
    width: 8.6rem;
  }
  &__peas {
    position: absolute;
    bottom: 18.3rem;
    left: -2rem;
    width: 6.6rem;
  }
}
.title {
  font-family: $font-cormorant;
  font-weight: 700;
  font-size: 8rem;
  line-height: 1;
  margin: 0;
  &__span {
    font-style: italic;
  }
  &_block {
    .title__span {
      display: block;
    }
  }
}
.description {
  margin: 0;
  &_size-s {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
.link {
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 2.3rem 5.5rem;
  background-color: $orange;
  box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
  text-decoration: none;
  border-radius: 3.8rem;
  display: inline-block;
}
