@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap");

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$white: #ffffff;
$font-jost: "Jost", sans-serif;
$font-cormorant: "Cormorant", serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_560: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: $font-jost;
  color: $green;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  max-width: 1440px;
  margin: 0 auto 5rem;
  padding: 4rem 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  @media (max-width: $r_desk_1280) {
    gap: 3%;
  }
  &__navigation {
    flex-grow: 1;
    margin-left: 4rem;
    @media (max-width: $r_desk_1280) {
      margin-left: 0;
    }
    @media (max-width: $r_desk_hd) {
      flex-grow: 0;
    }
    @media (max-width: $r_tab_900) {
      display: none;
    }
  }
  &__nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    gap: 4.5rem; /*45px*/
    @media (max-width: $r_desk_hd) {
      gap: 2.5rem;
    }
  }
  &__link {
    color: $green;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      color: $orange;
    }
  }
  &__tel {
    color: $green;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 1.13px;
    flex-basis: 200px;
    text-align: right;
    &:hover {
      color: $orange;
    }
    @media (max-width: $r_desk_hd) {
      display: none;
    }
  }
  &__cart {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: $orange;
    background-image: url(../images/icons/cart.svg);
    background-size: 1.7rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border: 1px solid $orange;
    cursor: pointer;
    padding: 0;
    transition: 0.2s;
    @media (max-width: $r_desk_hd) {
      background-image: url(../images/icons/cart_mob.svg);
      background-color: $white;
      border: 1px solid $green;
      opacity: 0.8;
    }
    &:hover {
      background-color: $green;
      border: 1px solid $green;
      @media (max-width: $r_desk_hd) {
        background-color: $white;
        opacity: 1;
      }
    }
  }
  &__counter {
    font-size: 0.8rem;
    color: $white;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    @media (max-width: $r_desk_hd) {
      color: $green;
    }
  }
  &__phone,
  &__menu {
    display: none;
  }
  &__phone {
    @media (max-width: $r_desk_hd) {
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      background-color: $white;
      background-image: url(../images/icons/tel.svg);
      background-size: 1.7rem 1.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      border: 1px solid $green;
      padding: 0;
      opacity: 0.8;
      transition: 0.2s;
    }
    &:hover {
      opacity: 1;
    }
  }
  &__menu {
    @media (max-width: $r_tab_900) {
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      background-color: $white;
      background-image: url(../images/icons/menu.svg);
      background-size: 1.7rem 1.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      border: 1px solid $green;
      padding: 0;
      opacity: 0.8;
      transition: 0.2s;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__buttons {
    @media (max-width: $r_desk_hd) {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }
}
.logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  flex-basis: 12rem;
  height: 3.2rem;
  &_footer {
    flex-basis: 18rem;
    height: 4.8rem;
    margin-top: 0.8rem;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  position: relative;
  padding-bottom: 187px;
  z-index: 0;
  &__item {
    margin-left: 12rem;
    max-width: 378px;
    margin-top: 6rem;
    @media (max-width: $r_desk_1280) {
      margin-left: 8rem;
    }
  }
  &__link {
    margin-top: 5.5rem;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  &__cover {
    flex-basis: 759px;
    height: 759px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (max-width: $r_desk_1350) {
      flex-basis: 650px;
      height: 650px;
    }
    @media (max-width: $r_desk_hd) {
      border: 1px solid transparent;
      width: auto;
      height: auto;
    }
    @media (max-width: $r_desk_1120) {
      border: 1px solid transparent;
    }
  }
  &__line {
    width: 658px;
    height: 654px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: $r_desk_1350) {
      flex-basis: 600px;
      height: 600px;
    }
    @media (max-width: $r_desk_hd) {
      border: 1px solid transparent;
      width: auto;
      height: auto;
    }
  }
  &__img {
    width: 92%;
    border-radius: 100%;
    animation: shadow 5s linear infinite;
  }
  &__text {
    padding-top: 3.6rem;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    color: $green;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    &::before {
      content: "";
      background-color: $green;
      width: 11px;
      height: 11px;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
      border-radius: 100%;
      position: absolute;
    }
    &:hover::before {
      background-color: $orange;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
    }
    &_01 {
      top: 42px;
      left: 62px;
      @media (max-width: $r_desk_hd) {
        top: 39px;
        left: 24px;
      }
      @media (max-width: $r_desk_1120) {
        display: none;
      }
      &::before {
        top: 26px;
        left: 85px;
      }
    }
    &_02 {
      top: 190px;
      right: 3px;
      @media (max-width: $r_desk_1350) {
        top: 109px;
      }
      @media (max-width: $r_desk_hd) {
        top: 58px;
      }
      @media (max-width: $r_desk_1120) {
        display: none;
      }
      &::before {
        top: 20px;
        right: 87px;
      }
    }
    &_03 {
      bottom: -51px;
      right: 242px;
      @media (max-width: $r_desk_1350) {
        bottom: -59px;
      }
      @media (max-width: $r_desk_1120) {
        display: none;
      }
      &::before {
        bottom: 59px;
        right: 33px;
      }
    }
  }
  &__food {
    display: block;
    color: rgba($green, 0.8);
    font-weight: 400;
    z-index: -1;
  }
  &__tomato {
    position: absolute;
    bottom: 11.6rem;
    right: 6rem;
    width: 11rem;
    z-index: -1;
  }
  &__avocado {
    position: absolute;
    top: 46px;
    right: 0px;
    width: 17.8rem;
    z-index: -1;
  }
  &__cucumber {
    position: absolute;
    top: 0;
    left: 630px;
    width: 85px;
    z-index: -1;
  }
  &__pepper {
    position: absolute;
    top: 400px;
    left: -20px;
    width: 86px;
    z-index: -1;
  }
  &__bob01 {
    position: absolute;
    bottom: 215px;
    left: 0px;
    width: 36px;
    z-index: -1;
  }
  &__bob02 {
    position: absolute;
    bottom: 240px;
    left: 40px;
    width: 47px;
    z-index: -1;
  }
  &__bob03 {
    position: absolute;
    bottom: 163px;
    left: 20px;
    width: 66px;
    z-index: -1;
  }
}
.title {
  font-family: $font-cormorant;
  font-weight: 700;
  font-size: 8rem;
  line-height: 1;
  margin: 0;
  @media (max-width: $r_desk_1280) {
    font-size: 7rem;
  }
  @media (max-width: $r_desk_1120) {
    font-size: 5rem;
  }
  &__span {
    font-style: italic;
  }
  &_block {
    .title__span {
      display: block;
    }
  }
}
.description {
  margin: 0;
  line-height: 1.5;
  &_size-s {
    font-size: 1.8rem;
    @media (max-width: $r_desk_1280) {
      font-size: 1.6rem;
    }
  }
  &_size-m {
    font-size: 2.4rem;
    @media (max-width: $r_desk_1280) {
      font-size: 2.2rem;
    }
  }
}
.link {
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 2.3rem 4.3rem;
  background-color: $orange;
  box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
  text-decoration: none;
  letter-spacing: 0.13rem;
  border-radius: 3.8rem;
  display: inline-block;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  @media (max-width: $r_desk_1280) {
    font-size: 1.4rem;
  }
  &:hover {
    background-color: $dark-orange;
  }
  &_max {
    padding: 2.4rem 5.3rem;
  }
  &_min {
    font-size: 1.4rem;
    padding: 2rem 3.4rem;
    box-shadow: 0px 1rem 1.1rem 0.17rem rgba(207, 92, 13, 0.15);
  }
}
.offer {
  padding-top: 2rem;
  padding-bottom: 12.8rem;
  &__text {
    margin-top: 6rem;
    max-width: 700px;
  }
}
.slider {
  overflow: hidden;
  padding-top: 9rem;
}
.swiper {
  overflow: initial;
  &-slide {
    border: 1px solid rgba($green, 0.4);
    border-radius: 2rem;
    padding: 3rem 3.7rem 3.8rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    &_white {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding: 4rem 3.7rem;
      height: 520px;
      &:hover {
        .swiper-slide__hover {
          height: 230px;
          opacity: 1;
        }
        &::after {
          content: "";
          background-color: rgba($white, 0.55);
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          position: absolute;
          top: 2px;
          left: 2px;
          border-radius: 2rem;
          z-index: -1;
        }
      }
    }
    &:hover {
      box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
    }
    &_milk {
      background-image: url(../images/offer/milk.png);
    }
    &_pasta {
      background-image: url(../images/offer/pasta.png);
    }
    &_steaks {
      background-image: url(../images/offer/steaks.png);
    }
    &__title {
      font-family: $font-cormorant;
      font-size: 3rem;
      color: $green;
      margin-bottom: 0;
    }
    &__description {
      font-size: 1.8rem;
      color: rgba($green, 0.7);
      margin-top: 2rem;
      margin-bottom: 0;
      min-height: 55px;
      max-width: 300px;
      line-height: 1.5;
    }
    &__price {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }
    &__hover {
      height: 0;
      opacity: 0;
    }
    &__text {
      color: rgba($green, 0.7);
      line-height: 1.5;
      margin-top: 2.5rem;
      margin-bottom: 3.4rem;
      max-width: 263px;
    }
    &__link {
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none;
      color: $green;
      display: flex;
      align-items: center;
      gap: 2rem;
      letter-spacing: 0.1rem;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      &::before {
        content: "";
        display: block;
        width: 3rem;
        height: 3rem;
        background-image: url(../images/plus.svg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &__cover {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 322px;
      text-align: center;
    }
    &__image {
      width: 100%;
      height: 100%;
      max-width: 350px;
      object-fit: contain;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-pagination {
    display: none;
  }
  &-button-next,
  &-button-prev {
    top: -6rem;
    &:hover {
      &::after {
        color: rgba($green, 1);
      }
    }
    &::after {
      color: rgba($green, 0.4);
      font-size: 20px;
    }
  }
  &-button-next {
    right: -8px;
  }
  &-button-prev {
    left: initial;
    right: 73px;
  }
}
.counter {
  display: flex;
  &__btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: 1px solid $green;
    background-color: transparent;
    padding: 0;
    background-position: center center;
    border-radius: 100%;
    &_min {
      width: 40px;
      height: 40px;
    }
  }
  &__minus {
    pointer-events: none;
    background-image: url(../images/minus-counter.svg);
    background-size: 30px 13px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
  }
  &__plus {
    background-image: url(../images/plus-counter.svg);
    background-size: 30px 13px;
    background-repeat: no-repeat;
  }
  &__input {
    text-align: center;
    font-size: 2.4rem;
    width: 46px;
    border: none;
    padding: 0;
    &_min {
      width: 33px;
      height: 33px;
    }
  }
}
.about {
  padding-top: 40px;
  padding-bottom: 100px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.5rem;
  }
  &__text {
    margin-left: 12rem;
    flex-basis: 620px;
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 9rem;
    font-family: $font-cormorant;
    font-style: italic;
    font-size: 3rem;
    margin: 0;
    padding-left: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      width: 84px;
      height: 84px;
      background-position: center center;
      background-repeat: no-repeat;
      border: 1px solid rgba($green, 0.4);
      border-radius: 100%;
      margin-bottom: 1.5rem;
    }
    &:nth-child(1) {
      &::before {
        background-image: url(../images/unic/fruits.svg);
        background-size: 44px 40px;
      }
    }
    &:nth-child(2) {
      &::before {
        background-image: url(../images/unic/traditional.svg);
        background-size: 44px 40px;
      }
    }
    &:nth-child(3) {
      &::before {
        background-image: url(../images/unic/good.svg);
        background-size: 44px 40px;
      }
    }
  }
}
.trends {
  padding-top: 95px;
  padding-bottom: 100px;
  &__text {
    margin-top: 40px;
  }
}
.catalog {
  padding-top: 88px;
  padding-bottom: 40px;
  &__list {
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
  &__btn {
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: $green;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    letter-spacing: 0.1rem;
    opacity: 0.8;
    background-color: transparent;
    border: none;
    margin: 5.7rem auto 0;
    padding: 0;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &::before {
      content: "";
      width: 2.3rem;
      height: 2.3rem;
      background-image: url(../images/catalog/refresh.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.category {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  &__item {
    flex-basis: 230px;
    text-align: center;
  }
  &__link {
    padding: 2.4rem 0;
    border: 1px solid rgba($green, 0.5);
    color: rgba($green, 0.5);
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: 4rem;
    display: block;
    &:hover {
      border: 1px solid $orange;
      color: $orange;
    }
  }
}
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  &__item {
    border: 1px solid rgba($green, 0.4);
    border-radius: 2rem;
    padding: 2.7rem 3rem 3.8rem;
    box-sizing: border-box;
    &:hover {
      box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
    }
  }
  &__cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 205px;
    text-align: center;
  }
  &__image {
    width: 100%;
    max-width: 351px;
    height: 100%;
    object-fit: contain;
  }
  &__title {
    font-family: $font-cormorant;
    font-size: 3rem;
    color: $green;
    margin-top: 1.7rem;
    margin-bottom: 0;
  }
  &__description {
    font-size: 1.6rem;
    color: rgba($green, 0.7);
    margin-top: 1.8rem;
    margin-bottom: 0;
    min-height: 61px;
    max-width: 250px;
    line-height: 1.5;
  }
  &__price {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    margin-top: 0;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.delivery {
  padding-top: 101px;
  padding-bottom: 135px;
  &__box {
    display: flex;
    justify-content: flex-start;
    margin-top: 75px;
    margin-left: 12rem;
    gap: 11.5%;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  &__text {
    flex-basis: 44%;
  }
  &__pay {
    flex-basis: 37%;
  }
  &__description {
    margin: 0;
    margin-bottom: 2.6rem;
  }
  &__link {
    color: #27300f;
    text-decoration: none;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #858881;
      display: block;
      position: absolute;
      bottom: 3px;
      left: 0; /*
      opacity: 0.4;
      transition: 0.3s;*/
    }
  }
  &__color {
    color: $orange;
  }
  &__list {
    display: flex;
    margin-top: 4.3rem;
    padding-left: 0;
    list-style-type: none;
    gap: 3rem;
  }
  &__item {
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
    transform: scale(1);
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
  &__mastercard {
    background-image: url(../images/mastercard.svg);
    width: 53px;
  }
  &__visa {
    background-image: url(../images/visa.svg);
    width: 74px;
  }
  &__paypal {
    background-image: url(../images/paypal.svg);
    width: 87px;
  }
}
.contact {
  padding-top: 40px;
  padding-bottom: 161px;
  &-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__text {
      flex-grow: 1;
      margin-left: 12rem;
      max-width: 385px;
      margin-top: 5.5rem;
    }
    &__form {
      flex-basis: 589px;
    }
    &__list {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
      margin-top: 6rem;
    }
    &__link {
      font-size: 24px;
      text-decoration: none;
      color: $green;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 3rem;
      &:hover {
        color: $orange;
      }
      &::before {
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        width: 29px;
        height: 30px;
        display: block;
      }
    }
    &__tel {
      padding-bottom: 1.8rem;
      &::before {
        background-image: url(../images/icons/phone.svg);
        background-size: 29px 30px;
      }
    }
    &__mail::before {
      background-image: url(../images/icons/mail.svg);
    }
  }
}
.card {
  border: 2px solid rgba($green, 0.4);
  border-radius: 2rem;
  padding: 3.2rem 5.8rem 4rem;
  &__title {
    font-size: 30px;
    font-family: $font-cormorant;
    margin-top: 0;
  }
  &__label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 6px;
  }
  &__input {
    border: 1px solid rgba($green, 0.4);
    padding: 2.2rem 3rem;
    margin-bottom: 2.8rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2rem;
    &:focus {
      border: 1px solid rgba($green, 1);
      outline: none;
    }
    &:invalid {
      border: red;
    }
  }
  &__check {
    font-size: 12px;
    color: rgba($green, 0.6);
    line-height: 1.5;
    max-width: 360px;
    margin-top: 1.6rem;
    margin-bottom: 0;
  }
  &__link {
    margin-top: 1.2rem;
  }
  &__docs {
    text-decoration: none;
    color: rgba($green, 0.6);
    border-bottom: 1px solid #ecedec;
  }
}
footer {
  border-top: 1px solid #e2e3df;
  padding-top: 7.9rem;
  padding-bottom: 7rem;
}
.footer {
  &__box {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
  }
  &__info {
    flex-basis: 66.2%;
    display: flex;
    justify-content: space-between;
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  &__item {
    margin-bottom: 2.6rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: $green;
    transition: 0.2s;
    &:hover {
      color: $orange;
    }
  }
  &__tel {
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: $green;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    color: rgba($green, 0.6);
    margin-top: 4rem;
  }
  &__author {
    color: rgba($green, 0.6);
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: rgba($green, 1);
    }
  }
}
.footer-social {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 3rem;
  margin-bottom: 0;
  &__link {
    display: block;
    width: 4.6rem;
    height: 4.6rem;
    border: 2px solid $green;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
  }
  &__vk {
    background-image: url(../images/icons/vk.svg);
    background-size: 2.3rem;
  }
  &__inst {
    background-image: url(../images/icons/instagram.svg);
    background-size: 1.8rem;
  }
  &__fb {
    background-image: url(../images/icons/facebook.svg);
    background-size: 1.8rem;
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 rgba($green, 0.5);
  }
  50% {
    box-shadow: 20px 20px 33px 0 rgba($green, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($green, 0.5);
  }
}
